<div class="footer p-3" data-bs-theme="dark">

    <div class="container-xxl text-body">

        <div class="row row-cols-1 row-cols-md-3 g-3 align-items-center">

            <div class="col order-last order-md-first text-center text-md-start">

                <div class="vstack gap-2">

                    <span>&copy; @DateTime.Now.Year Roman Steele</span>

                </div>

            </div>

            <div class="col text-center">

                <img src="img/White Logo - no background - svg.svg" height="60" />

            </div>

            <div class="col text-center text-md-end">

                <div class="vstack gap-2">

                    <div>

                        <a href="https://github.com/Roman-0S"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/roman-steeledev/"><i class="bi bi-linkedin"></i></a>

                    </div>

                    <div class="small">

                        <a href="https://rs-developer-portfolio.netlify.app/">Portfolio</a>
                        &bull;
                        <a href="https://techlog.up.railway.app/">Blog</a>
                        &bull;
                        <a href="#">Bug Tracker</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>