.navmenu {
    background-color: var(--rs-theme-850);
}

.nav-item {
    --bs-navbar-hover-color: var(--rs-theme-400);
    --bs-navlink-hover-color: var(--rs-theme-400);
}

.dropdown-menu {
    background-color: var(--rs-theme-900);
}

.dropdown:has(.nav-link.active) .dropdown-toggle {
    color: var(--bs-navbar-active-color);
}

.profile-picture {
    height: 1.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid 1px black;
    object-fit: cover;
}