@page "/contacts"
@using BlazorContactBook.Client.Helpers

@attribute [Authorize]

@rendermode InteractiveServer

@inject IContactDTOService ContactService

<PageTitle>ContactBook | Contacts</PageTitle>

<div class="d-flex align-items-center mt-3">

    <h1>All Contacts</h1>

    <a href="contacts/create" class="ms-auto btn btn-primary rounded-pill">New Contact</a>

    <ul>

        @foreach(ContactDTO contact in contacts)
        {
            <li>
                <img height="30" src="@contact.ImageURL" />

                @contact.FullName
            </li>
        }

    </ul>

</div>

@code {
    #region parameters

    [CascadingParameter]
    public Task<AuthenticationState>? AuthStateTask { get; set; }


    #endregion


    #region state

    private IEnumerable<ContactDTO> contacts = [];

    private UserInfo? userInfo;

    #endregion


    #region methods

    protected override async Task OnInitializedAsync()
    {
        userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);

        contacts = await ContactService.GetContactsAsync(userInfo!.UserId);
    }

    #endregion

}
